

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-3">
                @Html.Partial("_Kategoriler")
            </div>

            <div class="col-lg-9 entries">
                @Html.Partial("_Makaleler")
            </div>
        </div>
    </div>
</section>
